@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font: 1.4rem 'Roboto', sans-serif;
  background: #ecf1f8;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}